DB_HOST='localhost'
DB_NAME='meusite_db'
DB_USER='root'
DB_PASS=''
DB_PORT='3306'

RECAPTCHA_SITE_KEY=''
RECAPTCHA_SECRET_KEY=''

BREVO_SMTP_USER=''
BREVO_SMTP_PASS=''
BREVO_API_KEY=''
BREVO_SENDER_EMAIL=''
BREVO_SENDER_NAME=''

GOOGLE_MAPS_LINK=''

GEMINI_API_KEY=''
